 <% if flash[:update_success] %>
   <h4><%= flash[:update_success] %></h4>
 <% end %>

 <div class="container is-fluid">
   <div class="box">

     <h1 class="title is-2"><%= @user.name %></h1>

     <% if @user == current_user %>
      <button class="button is-small"><%= link_to  "Edit Profile", edit_user_path(current_user) %> </button>
     <% end %><br><br>

     <% if @friend_ids.include?(current_user.id) || @user.id == current_user.id%>

     <div class="container is-fluid">
       <div class="box">
         <h3 class="title is-4"> Bio</h3>
         <p><em><%= @user.bio %></em></p><br>
         <div class="content">
           <p><strong>Age: </strong><%= @user.age %> </p>
         </div>

       </div>
     </div><br>

     <div class="container is-fluid is-centered">
       <div class="tile is-ancestor">
         <div class="tile is-parent is-3">
           <article class="tile is-child box">
             <p class="title is-4">Friends</p>
             <div class="friends">
               <ul>
                 <% @friends.sort_by{|friend| find_friend(friend.friend_id).name}.each do |friend| %>
                 <li>
                    <%= link_to find_friend(friend.friend_id).name, user_path(friend.friend_id) %>
                 </li>
                 <% end %><br><br><br>

               </ul>

              <div class="new_friend">

                <%= form_tag "/friends" do %>
                <%= hidden_field_tag :"friend[user_id]", current_user.id %>
                <div class="field">
                  <div class="checkbox">
                    <label class="label">Add Friend:</label>
                    <div class="select is-small">
                    <%= collection_select(:friend, :friend_id, @non_friends, :id, :name)%>
                    <%= submit_tag "Add Friend", class:"button is-small"%>
                    </div>
                  </div>
                </div>
                <% end %>
                <br><br><br>

               </div>

               <% if !@requests.empty?  && current_user.id == @user.id%>

               <div class="friend_requests">
                 <label class="label">Friend requests</label>
                 <%= form_tag "/friends/accept" do %>
                 <% @requests.each do |request| %> <!-- requests is friends which have accepted => false -->
                    <%= find_friend(request.user_id).name %>
                    <%= check_box_tag :"user_ids[]", request.user_id %>
                 <% end %>
                 <%= submit_tag "Accept requests", class:"button is-small"%>
                 <% end %>

               </div>
               <% end %>
             </div>

           </article>
         </div>
         <div class="tile is-parent is-6">
           <article class="tile is-child box">
             <p class="title is-4">My Events</p>
             <div class="content">

               <div class="box">
                 <% if @user.occasions %>
                 <ul>
                   <% @user.occasions.sort_by{|occasion| occasion.date_time}.each do |occasion| %>
                   <li>
                     <%= link_to occasion.name, occasion %>
                   </li>
                    <% end %>
                 </ul>
                 <% end %>
               </div>



               <button class="button is-small"><%= link_to  "Create new event", new_occasion_path %></button>

               <% elsif @requested_friend_ids.include?(@user.id) %>
                 <p>You have already sent a request to this user </p>
               <% else %>
               <h3>You are not friends with this user</h3>

               <div class="not_current_friend">
                 <%= form_tag "/friends" do %>
                 <%= hidden_field_tag :"friend[friend_id]",  @user.id%>
                 <%= hidden_field_tag :"friend[user_id]", current_user.id %>
                 <%= submit_tag "Sent friend request", class:"button is-small"%>
                 <% end %>
               </div>

             </div>
           </article>
         </div>
       </div>
     </div>


    <% end %>
  </div>
</div>
