<%if flash[:occasion_error] %>
  <% flash[:occasion_error].each do |msg| %>
    <p><%= msg %></p>
  <% end  %>
<%end  %>


<%= form_for @occasion do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :description %>
  <%= f.text_area :description %><br><br>
  <%= f.label :date_time %>
  <%= f.datetime_field :date_time %><br><br>
    <%= f.label "friends:" %>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :name %><br><br>

  <%= f.submit %>
<% end %>
