<%if flash[:occasion_error] %>
  <% flash[:occasion_error].each do |msg| %>
    <p><%= msg %></p>
  <% end  %>
<%end  %>


<%= form_for @occasion do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id%>
  <%= f.label :name %>
  <%= f.text_field :name, {autofocus: true} %><br><br>
  <%= f.label "Location" %>
  <%= f.text_field :start_location, list: "location", value: ''%>
  <datalist id="location">
    <% @locations.each do |location| %>
      <option value="<%= location.name %> <%=location.rating %>"></option>
    <% end %>
  </datalist><br><br>

  <%= f.label :new_location %>
  <%= f.fields_for :locations, @occasion.locations.build do |location_fields| %>
    <%= f.label :name %>
    <%= location_fields.text_field :name %>
    <%= f.label :description %>
    <%= location_fields.text_field :description %>
    <%= f.label :rating %>
    <%= location_fields.number_field :rating %>
    <%= f.label :address %>
    <%= location_fields.text_field :address %>
  <% end %>

  <%= f.label "End location" %>
  <%= f.text_field :end_location, list: "location", value: '', placeholder: '(If different)'%>
  <datalist id="location">
    <% @locations.each do |location| %>
    <option value="<%= location.name %> <%=location.rating %>"></option>
    <% end %>
  </datalist><br><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br><br>
  <%= f.label :date_time %>
  <%= f.datetime_field :date_time %><br><br>
  <%= f.label "friends:" %>
  <%= f.collection_check_boxes :user_ids, @users, :id, :name %><br><br>
  <%= f.submit %>
<% end %>
