<h1><%= @occasion.name %></h1>

<h2>Location</h2>

<% if @occasion.locations.count == 2  %>
    <p><emp> Start Location: </emp> <%= link_to @occasion.locations[0].name, location_path(@occasion.locations[0]) %></p>
    <p><emp> Final Location: </emp> <%= link_to @occasion.locations[1].name, location_path(@occasion.locations[1]) %> </p>
<% else %>
    <p><emp> Location: </emp><%= link_to @occasion.locations[0].name, location_path(@occasion.locations[0])%></p>
<% end %>

<h2>Description</h2>
<p><%= @occasion.description %></p>

<h2>Date and Time</h2>
<p><%= @occasion.date_time %></p>

<h2>Invitees</h2>
<% @occasion.users.each do |user| %>
<%= link_to user.name, user %>
<% end %>

<%= form_tag messages_path do %>
    <label >Add Message:</label>
    <%= text_field_tag :"message[content]" %>
    <%= hidden_field_tag :"message[occasion_id]", @occasion.id %>
    <%= hidden_field_tag :"message[user_id]", current_user.id %>
    <%= submit_tag "Submit Message" %>

<% end %>

<h3>All messages</h3>
<div class="message_box">
    <% @my_messages.each do |msg|%>
        <p><%= msg.created_at.strftime("%-d %b %Y at %H:%M")  %>, <%= msg.user.name %>: <%= msg.content %></p>
    <% end %>
</div>
