<h1><%= @occasion.name %></h1>
<% if current_user.id == @admin.id %>
  <button><%= link_to  "Edit event", edit_occasion_path(@occasion) %></button>
<% end %>

<h2>Location</h2>

<%= link_to  @location.address, location_path(@location) %>

<h4>Click on map to open google maps</h4>
<p>
    <%= link_to  image_tag("https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@location.latitude},#{@location.longitude}&key=AIzaSyDbvhEUpTMyQu3ADyXLOMxQWllZ0ePdPWY
", alt: "Map"), "https://maps.google.com/?ll=#{@location.latitude},#{@location.longitude}", target: :_blank %>
</p>

<h2>Description</h2>
<p><%= @occasion.description %></p>

<h2>Date and Time</h2>
<p><%= @occasion.date_time %></p>

<h2>Event Admin</h2>
<%= link_to @admin.name, user_path(@admin) %>

<h2>Invitees</h2>
<% @occasion.users.each do |user| %>
<%= link_to user.name, user %>
<% end %>

<%= form_tag messages_path do %>
    <label >Add Message:</label>
    <%= text_field_tag :"message[content]" %>
    <%= hidden_field_tag :"message[occasion_id]", @occasion.id %>
    <%= hidden_field_tag :"message[user_id]", current_user.id %>
    <%= submit_tag "Submit Message" %>

<% end %>

<h3>All messages</h3>
<div class="message_box">
    <% @my_messages.each do |msg|%>
        <p><%= msg.created_at.strftime("%-d %b %Y at %H:%M")  %>, <%= msg.user.name %>: <%= msg.content %></p>
    <% end %>
</div>
